root = true

[*.{kt,kts}]
ktlint_standard_argument-list-wrapping = disabled
ktlint_standard_parameter-list-wrapping = disabled
ktlint_standard_no-wildcard-imports = disabled
ktlint_standard_max-line-length = disabled
ktlint_standard_value-argument-comment = disabled
ktlint_experimental_value-argument-comment = disabled
ktlint_standard_if-else-wrapping = disabled
ktlint_standard_discouraged-comment-location = disabled
ktlint_experimental_discouraged-comment-location = disabled
ktlint_standard_function-signature = disabled
ktlint_standard_kdoc = disabled
